body {
  display: flex;
  height: 100vh;

  font-family: "Greycliff CF";
  font-weight: 200;

  overflow: hidden;

  @media (max-width: 1000px) {
    flex-direction: column;
    overflow: visible;
  }
}
