.content {
  width: 50%;
  position: relative;

  @media (max-width: 1000px) {
    width: 100%;
    padding: 32px 24px 0;
  }

  &::before {
    transition: all .5s;
    content: url(../src/images/content/background.svg);
    position: absolute;
    z-index: -1;  

    filter: var(--filter, '');

    @media (max-width: 1000px) {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-image: url(../src/images/content/small-background.svg);
      background-repeat: no-repeat;
      background-size: cover;     
    }
  }

  &__list {
    position: relative;   
    width: 452px;
    margin: 0 auto;
    transition: transform 0.5s;

    top: 16%;

    @media (max-width: 1000px) {
      position: static;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__card {
    padding: 48px;
    margin-bottom: $card-margin;

    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(47, 47, 47, 0.2);
    border-radius: 10px;

    
    @for $i from 1 through length($tick-bgcs) {
      $color: nth($tick-bgcs, $i);

      &:nth-child(#{$i}) {
        .content__card-list {
          .content__card-item::before {
            background-image: url(../src/images/content/cards/ticks/#{$i}.svg);
            background-color: $color;
          }
        }
      }
    }

    @media (max-width: 1000px) {
      display: none;
    }

    @media (max-width: 600px) {
      width: 100%;
      padding: 32px 24px;
    }
  }

  &__card-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    column-gap: 13px;
  }

  &__title-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #10100E;

    @media (max-width: 600px) {
      font-size: 22px;
      line-height: 32px;
    }
  }

  &__card-list {
    margin-bottom: 40px;
    padding-left: 34px;
  }

  &__card-item {
    position: relative;

    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 23px;
    }

    &::before {
      content: '';
      display: flex;

      background-position: center;
      background-repeat: no-repeat;

      position: absolute;
      left: -29px;
      top: 4px;
      width: 16px;
      height: 16px;

      border-radius: 50%;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__card-continue {
    display: block;
    padding: 13px 0;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;

    background: #10100E;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .3s;

    &:hover {
      background: #FFFFFF;
      color: #10100E;
      border-color: #10100E;
    }
  }

  &__card-price {
    display: block;
    text-align: center;

    font-size: 16px;
    line-height: 23px;

    color: #10100E;

    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}