@font-face {
  font-family: "Greycliff CF";
  src: url("./src/fonts/GreycliffCF-Regular.woff") format("woff");
}

@font-face {
  font-family: "Quincy CF";
  src: url("./src/fonts/QuincyCF-Regular.woff") format("woff");
}