$icon-bgcs: (
  #5b59cf,
  #408BFC,
  #4f6359,
  #F9D270,
  #FBDECA,
);

$tick-bgcs: (
  #E6E6F8,
  #E2EEFF,
  #D4E7DD,
  #FDF4DB,
  #FEEFEF,
);

$button-bgcs: (
  #5a58cf26,
  #408bfc26,
  #26865333,
  #f9d27040,
  #fbcaca4d,
);

$card-margin: 80px;
